.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:nth-child(1),.button:nth-child(4) {
 flex-basis: 100%;
}

.button:nth-child(2),.button:nth-child(3) {
  flex-basis: 50%;
 }

.blue,.yellow,.green {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
}

.reset {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background: white;
}

.border {
  position: relative;
}

.border::before {
  content:'';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 110px;
  height: 110px;
  border: 1px solid red;
  border-radius: 50%;

}
.active {
  cursor: pointer;
  animation-name: scale;
  animation-iteration-count:infinite; 
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
